/********** _settings begin ******************************/
/* Colors ---------------------------------------------- */
// Font Colors
$titleFontColor: #a62425;
$menuBarFontColor:#FFFFFF;
$dkBrownFontColor:#552c14;
$brickFontColor: #a63824; //#A63624; // #a63824;
$ltrBrickFontColor: #d37a57;
// Background colors: 
$ltpeachwidgetbkg: #fbebdb;
$ltpeachbkg: #ffd3cc; // #fcf1e3
$ltmedpeachbkg: rgb(251, 235, 219); // used for footer bkg
$creambkg: #FCF1E3; // assigned in template options
$bkgoundContent: #FFFFFF; // asigned in template options;
$menuBarbkg: #D14719; //
$navcollapsebkg: #fbbfa3;//#e87a56;
$navcollapsehover:#e87a56;
$ltgrey: #F2F0E9;
$medgrey: #e9e5dc;
$meddkgrey: #dfdbd4;
$topbarcolor: #0091ea;
$linkcolor: #fe0000; // #0088d0;
$footersidebarcolor: #F2F0E9;
$footercolor: #472B10; // #603913;
$buttoncolorstart: #0088d0;
$buttoncolorend: #0092ed;
$navfontcolor: #fe0000;
$navcolStartColor: #ffd3cc; // orig.  #f2f2f2;
$navcolEndColor:#e87a56 ;// orig #e5e5e5;
$fontcolor: #603913;
$sitebordercolor: #E7D2A2;
$butter: #EED28B; // #E8D7A7;
/* Typography ------------------------------------------ */
@font-face {
  font-family: 'PointedlyMad';
  	src: url("PointedlyMad.eot"); /* EOT file for IE */
}
@font-face {
  font-family: 'PointedlyMad';
  	src: url('PointedlyMad.ttf');/* TTF file for CSS3 browsers */
}
font { font-family:Tahoma, Geneva, sans-serif; }
h1,h2,h3,h4,h5,h6, .h1, .h2,.h3,.h4,.h5,.h6 { 
	font-family:'VollkornRegular', Geneva, serif!important; 
	font-size:40px; 
	font-style:normal; 
	font-variant:normal; 
	color:$fontcolor!important; 
	padding:0px; 
	margin-top:0px; 
	margin-right:0px; 
	margin-bottom:0px; 
	margin-left:0px; 
	letter-spacing:-2px; 

}
	h1, .h1 { font-weight:normal;  line-height: 40px; padding: 15px 0px;}
    h2, .h2 { font-size:28px; line-height: 32px; letter-spacing:-1px; }
    h3, .h3 { font-size:20px; line-height: 23px; letter-spacing:-0.5px; }
    h4, .h4 { letter-spacing:0px; font-family:Arial, Helvetica, sans-serif; font-size:18px; }
	h5, .h5 { letter-spacing:0px; font-family:Arial, Helvetica, sans-serif; font-size:16px; }
	h6, .h6 { letter-spacing:0px; font-family:Arial, Helvetica, sans-serif; font-size:14px; }
.flex-caption h1 {
	color: white!important;
}
h2.widget-title, h2.widget-title span , #content #search h1.posttitle,
#content #searchresult .posttitle,#content #searchresult .posttitle a
 {
	font-size: 24px;
	line-height: 27px;
	letter-spacing: 0px;
}

p {
	margin-top: 5px;
	font-family:'VollkornRegular', Geneva, sans-serif!important; 
	font-size: 14px;
	line-height: 18px;
}

a, a:visited, 
.colortext, 
.colortext a, 
.colortext a:visited
 {
	color: $linkcolor!important;
}
#payment ul.payment_methods li label {
	color: $buttoncolorstart!important;
}
#maincontent #content #order_review #payment .place-order #place_order.button.alt,
#outermain #maincontent #content div.padcontent form button.button, // shipping calculator button & add to cart.
#outermain #maincontent  input[type="submit"], 
 #maincontent div.entry-content .wc-proceed-to-checkout  a.button.alt
{ // this works for submit on contact form & checkout form buttons
		background:  $buttoncolorstart!important;
		background: linear-gradient(to bottom,  $buttoncolorstart 0%, $buttoncolorend 100%)!important; 
}


div.product-detail div.woocommerce-message a.button // works for message buttons 
{
	//background-color: purple!important;
	background-image: linear-gradient(to bottom,  $buttoncolorstart 0%, $buttoncolorend 100%)!important; 
}

#payment .place-order #place_order,
.woocommerce a.alt.button, // this works for proceed to checkout
.woocommerce .return-to-shop a.button, // return to shop button
 .woocommerce button.alt.button, 
.woocommerce input.alt.button, 
.woocommerce #respond input.alt#submit, 
.woocommerce #content input.alt.button, 
.woocommerce-page a.alt.button, 
.woocommerce-page button.alt.button, 
.woocommerce-page input.alt.button, 
.woocommerce-page #respond input.alt#submit, 
.woocommerce-page #content input.alt.button {
	background:$buttoncolorstart!important;
	border-color:$buttoncolorstart!important;
}
/* main menu font stuff *****/
#nav-wrap #topnav .menu-item a {
	font-family: PointedlyMad, Georgia, serif;;
	font-size: 44px;
	line-height: 48px;
	color: $navfontcolor!important;
}


/********** _settings end ******************************/
